{%- liquid
  if variant
    assign card_product_variant = variant
  else
    assign card_product_variant = card_product.selected_or_first_available_variant
  endif

  assign featured_media = card_product.featured_media
  if variant.featured_media != null
    assign featured_media = variant.featured_media
  endif

  assign secondary_image = null
  if show_secondary_image and variant.featured_media != null
    for media in card_product.media
      if media.id == variant.featured_media.id
        assign next_index = forloop.index
        assign secondary_image = card_product.media[next_index]
        break
      endif
    endfor
  endif
-%}

{%- unless skip_styles -%}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif featured_media and media_aspect_ratio == 'adapt'
      assign ratio = featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="card card--{{ settings.card_style }} {% if featured_media %} card--media{% else %} card--text{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %} ratio"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        {%- if featured_media -%}
          <div class="card__media">
            <div class="media media--transparent {% if secondary_image %} media--hover-effect{% endif %}">
              {% comment %} 主圖 (正面) {% endcomment %}
              <img
                srcset="{{ featured_media | image_url: width: 533 }} 533w"
                src="{{ featured_media | image_url: width: 533 }}"
                sizes="(min-width: 1200px) 300px, (min-width: 990px) calc((100vw - 130px) / 4), 50vw"
                alt="{{ featured_media.alt | escape }}"
                class="motion-reduce"
                loading="lazy"
                width="{{ featured_media.width }}"
                height="{{ featured_media.height }}"
              >

              {% comment %} 懸停圖 (該顏色的背面) {% endcomment %}
              {%- if secondary_image -%}
                <img
                  srcset="{{ secondary_image | image_url: width: 533 }} 533w"
                  src="{{ secondary_image | image_url: width: 533 }}"
                  sizes="(min-width: 1200px) 300px, (min-width: 990px) calc((100vw - 130px) / 4), 50vw"
                  alt=""
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ secondary_image.width }}"
                  height="{{ secondary_image.height }}"
                >
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}

        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a href="{{ card_product_variant.url }}" class="full-unstyled-link">
                {{ card_product.title | escape }}
              </a>
            </h3>
          </div>
        </div>
      </div>

      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h5">
            <a href="{{ card_product_variant.url }}" class="full-unstyled-link">
              {{ card_product.title | escape }}
            </a>
          </h3>
          <div class="card-information">
            <div class="caption-with-letter-spacing light" style="margin-bottom: 0.5rem;">
              {{ card_product_variant.title }}
            </div>
            {% render 'price', product: card_product, use_variant: true, show_compare_at_price: true %}
          </div>
        </div>
        <div class="card__badge {{ settings.badge_position }}">
          {%- if card_product.available == false -%}
            <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">
              {{- 'products.product.sold_out' | t -}}
            </span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">
              {{- 'products.product.on_sale' | t -}}
            </span>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}